* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:focus {
  outline: 0;
}
#app {
  -webkit-overflow-scrolling: touch;
}
html,
body {
  overflow: auto;
  touch-action: none;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
/*行内块元素*/
input,
img {
  margin: 0;
  padding: 0;
  border: 0 none;
  outline-style: none;
  vertical-align: bottom;
}
/*行内元素*/
a,
a:active,
a:visited {
  /*下划线和颜色*/
  text-decoration: none;
  color: #ccc;
}
a:hover {
  color: #333;
}
textarea {
  /* 边框清零 */
  border: none;
  /* 轮廓线清零 */
  outline: none;
  /* 防止文本域被随意拖拽 */
  resize: none;
}
i {
  /*文字样式*/
  font-style: normal;
}
table {
  /*边框合并*/
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ol {
  list-style: none;
}
button {
  -webkit-appearance: none;
  border: 0;
  background: none;
}
/* 使用伪元素清除浮动 */
.clearfix::before,
.clearfix::after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: none;
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.ellipsis-2 {
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.table {
  width: 100%;
  text-align: center;
}
.table tr {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #ccc;
}
.container,
.page-container {
  width: auto;
}
